/*HTML-wide settings*/
:root {
  --containerbgcolor: skyblue;
}
  
body {
  margin: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: var(--containerbgcolor);
}

div {
  text-align: center;
  background-color: var(--containerbgcolor);
}

footer {
  position: sticky;
  top: 100vh;
  color: white;
  text-align: center;
  background-color: transparent;
}

h1 {
  text-align: center;
}

mark {
  background-color: cornsilk;
  color: black;
}

p {
  text-align: center;
}

ul {
  padding-left: 40px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Header classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.hdr {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.hdr-text {
  background-color: black;
  color: gold;
  text-align: center;
}

.hdr-img {
  background-image: url("/photos/etgd_bw.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
}

img.etgd {
  position: absolute;
  top: 48px;
  left: 0;
  border: none;
  width: 150px;
  height: 150px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Nav classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

/*ul.topnav li a.active {*/
ul.topnav li .active {
  background-color: #04AA6D;
}

ul.topnav li.right {
  float: right;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Arts and Crafts classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.acline2 {
  text-align: left;
  padding-left: 10%;
}
.body_ac {
  background-image: url('/photos/ArtsCraftsComm.jpg');
}
.container_ac {
  width: max-content;
  margin-left: auto;
  font-size: 1rem;
}
.container_ac li {
  text-align: left;
  /*margin-left: 1%;*/
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Bass classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_bass {
  background-image: url('/photos/basstournament1.jpg');
  background-size: 80%;
  background-position: left top;
}
.container_bass_announcement {
  width: 40%;
  margin-left: auto;
  text-align: center;
  font-size: 1rem;
}
.container_bass_announcement p {
  font-size: 1.5rem;
}
.container_bass_winners {
  width: max-content;
  margin-left: auto;
  background-color: cornsilk;
  text-align: center;
  font-size: 1rem;
}
.container_bass_winners p {
  font-size: 1.5rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Board classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.board-list {
  background-color: var(--containerbgcolor);
  min-width: max-content;
  list-style-type: none;
  padding: 0;
  column-count: 2;
  font-size: 1.5rem;
  text-align: left;
  /*outline: 3px solid green;*/
}
.board-table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /*outline: 3px solid red;*/
}

.board-member-left {
  width: 30%;
  text-align: right;
  padding-right: 10px;
  /*outline: 3px solid green;*/
}

.board-member-right {
  width: 30%;
  text-align: left;
  padding-left: 10px;
  /*outline: 3px solid green;*/
}

.grid-container {
  display: grid;
}
.body_board {
  background-image: url('/photos/ETGD_Color.jpg'), url('/photos/ETGD_Color.jpg');
  background-size: 7.5vw;
  background-position: 20% 60%, 80% 60%;
}
.container_board_head {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.container_board_list {
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Carnival classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_carnival {
  background-image: url('/photos/carnival.jpg');
}
.container_carnival {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  /*background-color: var(--containerbgcolor);*/
  text-align: center;
  font-size: 1.5rem;
}
.container_carnival ul {
  list-style-type: none;
  padding: 0;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Car Show classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_carshow {
  background-image: url('/photos/CarShow.jpg');
  background-position: left top;
}
.container_carshow {
  max-width: max-content;
  margin-left: auto;
  font-size: 1.5rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Chili classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_chili {
  background-image: url('/photos/chilicookoff.jpg');
  background-size: 100%;
  background-position: left top;
}
.container_chili {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.container_chili_head {
  text-align: left;
  font-size: 2rem;
}
.container_chili_rules {
  grid-template-columns: 50% 50%;
  text-align: left;
  font-size: 1.5rem;
}
.container_chili_rules_left {
  text-align: left;
  font-size: 1.5rem;
}
.container_chili_rules_right {
  text-align: left;
  font-size: 1.5rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Dirty Neck Jessie's classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_dnj {
  background-image: url('/photos/DirtyNeckJessies.jpg');
}
.container_dnj {
  max-width: max-content;
  margin-right: auto;
  font-size: 1.5rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------FaceBook classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_fb {
  background-image: url('/photos/ETGD_Color.jpg'), url('/photos/ETGD_Color.jpg');
  background-size: 7.5vw;
  background-repeat: no-repeat;
  background-position: 20% 60%, 80% 60%;
}
.container_fb {
  font-size: 1.5rem;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Food classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_food {
  background-image: url('/photos/food.jpg');
  background-size: contain;
}
.container_food {
  max-width: max-content;
  margin-left: auto;
  font-size: 1.5rem;
}
.container_food p {
  text-align: right;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Health classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_health {
  background-image: url('/photos/ETGD_Color.jpg'), url('/photos/ETGD_Color.jpg');
  background-size: 7.5vw;
  background-repeat: no-repeat;
  background-position: 25% 60%, 75% 60%;
}
.container_health {
  font-size: 1.5rem;
  max-width: max-content;
  margin: auto;
  margin-top: 10vh;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Index classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_index {
  background-image: url('/photos/home.jpg');
  background-position: top;
}
.container_index_announcement {
  max-width: max-content;
  margin: auto;
  font-size: 1.5rem;
}
.container_index_cal_Fri {
  text-align: left;
  font-size: 1.5rem;
}
.container_index_cal_Sat {
  text-align: left;
  font-size: 1.5rem;
}
.container_index_countdown {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/
/*----------Street Dance classes----------*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxX*/

.body_streetdance {
  background-image: url('/photos/StreetDance.jpg');
  background-position: left top;
}
.container_streetdance {
  max-width: max-content;
  margin: auto;
  font-size: 1.5rem;
}
